@font-face {
    font-family: Font;
    src: url('../fonts/neuropol\ x\ rg.ttf') format('opentype');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: font, 'sans-serif';
}
.container{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('../assets/NightSky.png');
    overflow: hidden;
}
.container .section1{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    background: url('../assets/Skype_Picture_2021_06_07T16_25_53_581Z.jpeg'),url('../assets/Skype_Picture_2021_06_07T16_27_30_872Z.jpeg'), url('../assets/Skype_Picture_2021_06_07T16_27_37_170Z.jpeg'),url('../assets/NightSky.png');
    background-attachment: fixed;
    width: 100%;
    /* z-index: 1; */
    background-size: auto,auto,cover;
}
.scene,
canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}
.navbar{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 92.5%;
    height: 90%;
    transform: translate(-50%,-50%);
    border-left: 2px solid #fff;
    z-index: 100;
}
.navbar::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 47%;
    height: 2px;
    background: #fff;
}
.navbar::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 47%;
    height: 2px;
    background: #fff;
}
.navbar .logo{
    height: 50px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-23px);
}
p{
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 3.75rem;
    width: 100%;
    text-align: center;
    z-index: 0;
}
.navbar button{
    position: absolute;
    bottom: -7.5%;
    left: 50%;
    transform: translateX(-50%);
    background: transparent;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
}

.navbar button span{
    font-size: 4rem;
    transform: rotate(90deg);
    display: block;
}
.navbar ul{
    list-style: none;
    position: absolute;
    right: -10.8%;
    top: 28%;
    display: flex;
    transform: rotate(90deg);
    /* position: relative; */
}
.navbar ul::after{
    content: '';
    position: absolute;
    bottom: 50%;
    right: -108.25%;
    width: 108.25%;
    height: 2px;
    background: #fff;
}
.navbar ul::before{
    content: '';
    position: absolute;
    top: 50%;
    left: -22.5%;
    width: 22.5%;
    height: 2px;
    background: #fff;
}

.navbar ul li{
    margin: .5rem;
}
.navbar ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 1.25rem;
    padding: .75rem;
    display: inline-block;
}
